header {
  height: 1000px;
  background-image: url("./assets/images/cup-coffee.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; 
}


.nav-wrapper {
  margin: 0 auto;
//   width: 1148px;
padding-top: 50px;
align-items: center;


}
.navbar nav {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.home {
  margin-left: 331px;
}
.home ul {
  display: flex;
  list-style-type: none;
}
.home ul li a {
  text-decoration: none;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  transition: all ease 1s;
}
.home li a:hover {
    color: rgba(255, 75, 50, 1);
    border-bottom: rgba(255, 75, 50, 1);
    transform: scale(0.2s);
    bottom: -3px;
}
.about-nav {
  margin-left: 49px;
}
.menu-nav {
  margin-left: 46px;
}
.review-nav {
  margin-left: 28px;
}
.contact-nav {
  margin-left: 55px;
}
.right-icons  {
  display: flex;
  margin-left: 60px;
  gap: 38px;

}
.right-icons img {
    padding: 14px 15px;
    margin-top: 10px;
    border-radius: 2px solid rgba(255, 255, 255, 1);
}
.search {
  width: 49px;
  height: 49px;
  opacity: 1;
}
.cart {
  width: 53px;
  height: 46px;
  opacity: 1;
  border-width: 1px;
}

.coffee-text {
    width: 524px;
height: 409px;
opacity: 1;
margin: 110px auto;
margin-left: 170px;
border-radius: 5px;
}
.coffee-text h1 {
    font-family: Josefin Sans;
font-weight: 700;
font-size: 58px;
line-height: 120%;
letter-spacing: 0%;
color: rgba(255, 255, 255, 1);
}
.coffee-text p {
    font-family: Open Sans;
font-weight: 600;
font-size: 20px;
line-height: 160%;
margin-top: 26px;
letter-spacing: 0%;
color: rgba(255, 255, 255, 1);
}
.coffee-text button {
opacity: 1;
top: 558px;
left: 147px;
border-radius: 5px;
padding: 16px 35px 16px 35px;
background-color: rgba(255, 75, 50, 1);
gap: 10px;
border: none;
margin-top: 48px;
}